block variables
  title = "所有订单"

extends ../layouts/admin

block content
  .orders
    - if (is_single)
      .breadcrumb
        | 正在显示订单号为&nbsp;
        strong=orders[0]._id
        | &nbsp;的订单。
        a(href='/SysAdmin/orders') 显示所有订单
        。
    - else
      - if (by_user)
        .breadcrumb
          | 正在显示用户&nbsp;
          strong= orders[0]._user.alias || orders[0]._user.username
          | &nbsp;的所有订单。
          a(href='/SysAdmin/orders') 显示所有订单
    h2.title 所有订单
    - if (!orders || orders.length == 0)
      .message 没有订单。
    - else
      .orders_table
        table.table
          thead.table-head
            tr
              th 订单号
              th 用户
              th 付款方式
              th 状态
              th 收货人
              th 地址
              th 联系电话
              th 创建时间
          tbody.table-body
            - each order in orders
              tr
                td
                  - if (is_single)
                    span.fw #{order.id}
                  - else
                    a.fw(href='/SysAdmin/orders/'+order._id)=order._id
                td
                  a.fw(href='/SysAdmin/orders?user='+order._user._id, title=order._user.alias)=order._user.username
                td #{order.payment || '未指定'}
                td #{order.status}
                td #{order.username}
                td #{order.districts.join(' ')} #{order.address}
                td #{order.phone}
                td.fw #{order.created_at.toJSON().replace(/T/, ' ').replace(/\..+/, '')}
              - grandTotal = 0
              - each product in order.products
                - PRODUCT = null
                - if (products[product.category] && products[product.category][product.model])
                  - PRODUCT = products[product.category][product.model]
                - total = product.price * product.quantity
                - grandTotal += total
                - path = '/' + product.category + '/' + product.model
                tr.v
                  td
                  td(colspan=3)
                    - if (PRODUCT)
                      a(href=path, title=PRODUCT.title)= PRODUCT.name
                    - else
                      | #{product.category} #{product.model} (商品已不存在)
                  td(colspan=2)
                    | 单价：
                    span.toCurrency= product.price
                  td 数量：#{product.quantity}
                  td(colspan=2)
                    | 总价：
                    span.toCurrency= total
              tr.v
                td
                td(colspan=6)
                  | 更新时间：#{order.updated_at.toJSON().replace(/T/, ' ').replace(/\..+/, '')}
                td(colspan=2)
                  | 合计：
                  span.toCurrency= grandTotal
          tfoot.table-foot  
            tr
              td(colspan=2)
                - if (!is_single)
                  .pager
                    .pagination
                      a.first(href='#', data-action='first') «
                      a.previous(href='#', data-action='previous') ‹
                      input(type='text', readonly='readonly', data-max-page='40')
                      a.next(href='#', data-action='next') ›
                      a.last(href='#', data-action='last') »
                  script.
                    $('.pagination').jqPagination({
                      current_page: #{current_page},
                      max_page: #{total_pages},
                      page_string: '第{current_page}/{max_page}页',
                      paged: function(page) {
                        window.location.href = '/SysAdmin/orders?!{by_user ? "user=" + by_user + "&" : ""}page=' + page;
                      }
                    });

              td(colspan=7)
                a#verbose(href='javascript:;') 显示/隐藏订单包含的商品
