block variables

doctype 5
html
  head
    meta(charset='UTF-8')
    title= title
    != css('application')
    != js('application')
  body
    noscript
      .head_warning
        | 重要：您需要在您的浏览器上启用 JavaScript 才可正常访问本网站。
    .container
      .header
        a.logo(href='/') 首页
        .user
          - if (current_user)
            a(href='/my_account')= current_user.alias || current_user.username
            &nbsp;|&nbsp;
            a(href='/orders') 我的订单
            &nbsp;|&nbsp;
            a#logout(href='javascript:;') 退出登录
          - else
            a(href='/orders') 登录并查询我的订单
          - if (!hide_header_cart)
            &nbsp;|&nbsp;
            #headerCart.cartInfo
              | 购物车（
              span.simpleCart_quantity 0
              | ）
            #cartPopover
              #triangle
              .simpleCart_items
              #cartData.clearfix
                .left
                  strong 数量：
                  span.simpleCart_quantity
                .right
                  strong 总价：
                  span.simpleCart_total
              #popoverButtons.clearfix
                a.hudbtn.left(href='/cart') 查看详细
                a.simpleCart_checkout.hudbtn.primary.right(href='javascript:;') 结账
      ul.nav
        li
          a.first.products(href='/products', class=belongs_to=='products'?'active':'') 全能产品库
        li
          a(href='/about/', class=belongs_to=='about'?'active':'') 企业简介
        li
          a(href='/tips/', class=belongs_to=='tips'?'active':'') 全能秘籍
        li
          a(href='/choose/', class=belongs_to=='choose'?'active':'') 选择全能的十大理由
        li
          a(href='/') 全能TV
        li
          a(href='/contact/', class=belongs_to=='contact'?'active':'') 联系我们
        li.clearfix
      block content
      - if (session && session.messages && session.messages.length > 0)
        - var msgs = ''
        - while (message = session.messages.pop())
          - for (msg in message)
            - if (msg === 'options') 
              - for (opt in message[msg])
                - msgs = 'toastr.options.' + opt + '=' + (typeof(message[msg][opt]) === 'string' ? '"' + message[msg][opt] + '"' : message[msg][opt]) + ';' + msgs;
            - else if (message[msg])
              - msgs += 'toastr["' + msg + '"](unescape("' + escape(message[msg]) + '"));'
        - if (msgs)
          != '<script>if(toastr){' + msgs + '}</script>'
      - if (session && session.empty_cart)
        != '<script>if(simpleCart)simpleCart.empty();</script>'
        - session.empty_cart = null;
      != '<script>window.csrf_token="' + csrf_token + '";</script>'
      .footer
        .footer-body
          .nboxes
            .nbox
              .nbox_l 7
              .nbox_r 天<br>退货保障
            .nbox
              .nbox_l 15
              .nbox_r 天<br>换货承诺
            .nbox
              .nbox_l 100
              .nbox_r 元起<br>全场免邮费
            .nbox
              .nbox_l 420
              .nbox_r 余家<br>售后服务网点
      .copy
        | &copy; 1999-2013 广东安能保险柜制造有限公司
        = ' '
        a(href='http://www.miitbeian.gov.cn/') 粤ICP备12015444号-31
        = ' '
        a(href='/Sitemap.xml') Sitemap
