block variables
  title = "结账"
  hide_header_cart = true

extends layouts/default

block content
  #shopping_cart.checkout_cart
    table
      tbody
        tr.headerRow
          th.item-image
          th.item-name 商品名称
          th.item-quantity 数量
          th.item-price 单价
          th.item-total 合计
        - each product in products
          tr.itemRow
            td.item-image
              a(title=product.title, href=product.path)
                img(alt=product.title, src=product.image)
            td.item-name
              a(href=product.path, title=product.title)= product.name
            td.item-quantity= product.quantity
            td.item-price.toCurrency= product.price
            td.item-total.toCurrency= product.price * product.quantity
  .shopping_cart_buttons
    a.hudbtn.left(href='/cart') 返回修改购物车
    .clearfix
