block variables
  title = "我的订单"

extends layouts/default

block content
  .orders
    h2.title 我的订单
    .table_container.checkout_cart
      table
        tbody
          - each order in orders
            tr
              th.tinfo(colspan=5)
                .left
                  | 创建日期：#{order.created_at.toJSON()}
                  br
                  | 地址：#{order.districts.join(' ')} #{order.address}
                .right
                  | 更新日期：#{order.updated_at.toJSON()}
                  br
                  | 收货人：#{order.username} (联系电话：#{order.phone})
                .clearfix
            - each product in order.products
              - PRODUCT = null
              - if (products[product.category] && products[product.category][product.model])
                - PRODUCT = products[product.category][product.model]
              - total = product.price * product.quantity
              - path = '/' + product.category + '/' + product.model
              tr.itemRow
                td.item-image
                  - if (PRODUCT.images)
                    a(title=PRODUCT.title, href=path)
                      img(alt=PRODUCT.title, src=PRODUCT.images[0])
                td.item-name
                  a(href=path, title=PRODUCT.title)= PRODUCT.name
                td.item-quantity= product.quantity
                td.item-price.toCurrency= product.price
                td.item-total.toCurrency= total
    h2.title 我的信息
