block variables
  title = "产品"

extends ../layouts/default

block content
  - var product = products[category][model];
  .pview
    #pslider.sliderkit
      .sliderkit-nav
        .sliderkit-nav-clip
          ul
            - each slide in product.slides
              li
                a(href='#', title=product.name)
                  img(src=slide, alt=product.name)
      .sliderkit-panels
        - each slide in product.slides
          .sliderkit-panel
            a(href='#d', title=product.name)
              img.psimg(src=slide, alt=product.name)
        .sliderkit-btn.sliderkit-go-btn.sliderkit-go-prev
          a(href='#', title='上一张图片')
            span 上一张图片
        .sliderkit-btn.sliderkit-go-btn.sliderkit-go-next
          a(href='#', title='下一张图片')
            span 下一张图片
    .pinfo
      .ptitle
        h2= product.title
        h5= product.subtitle
      - if (product.original_price)
        .pprice
          .original_price
            span.item 原价:
            span.price
              em.toCurrency= product.original_price
              | 元
          span.item 优惠价:
          span.price
            em.toCurrency= product.price
            | 元
      - else
        .pprice
            span.item 价格:
            span.price
              em.toCurrency= product.price
              | 元
      .paction
        a.addtocartbtn.hudbtn.primary(href='/cart', data-category=category, data-model=model) 放入购物车
        a.addtocartbtn.redirects.hudbtn.alt(href='/cart', data-category=category, data-model=model) 立即购买
      - if (product.side_html)
        .psidecontent
          != product.side_html
    .clearfix
  .pdetails
    .pdselector
      .selects
        a.active(href='javascript:;') 商品描述
        a(href='javascript:;') 物流配送
        a(href='javascript:;') 常见问题
        .clearfix
    .pdpages
      .pdpage
        != markdown(product.body).replace(/\n/g, '')
      .pdpage.hidden
        p 物流配送
      .pdpage.hidden
        p 常见问题
  - if (product.recommendations instanceof Array)
    .precommend
      - each recommendation in product.recommendations
        - if (recommendation = recommendation.match(/^\/(.*)\/(.*)$/))
          - category = recommendation[1]
          - model = recommendation[2]
          - if (products[category] && products[category][model])
            - product = products[category][model]
            .recommendation
              a(href='/#{category}/#{model}')
                img(src=product.images[0])
                br
                =product.name
      .clearfix
